<!--
  For more information on how to configure your ASP.NET application, please visit.
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="GoogleCloudUsername" value="stratcloudprint@gmail.com"/>
    <add key="GoogleCloudPassword" value="1@progger"/>-->
    <add key="MapZoom" value="14" />
    <add key="MapDimension" value="500x300" />
    <add key="MarkerSubImg" value="http://bit.ly/SOD5U2" />
    <add key="MarkerMainImg" value="http://bit.ly/WIdtrK" />
    <add key="GoogleCloudUsername" value="radarreports@gmail.com" />
    <add key="GoogleCloudPassword" value="value321" />
    <add key="PrintServiceUsername" value="wesnelson" />
    <add key="PrintServicePassword" value="admin" />
    <add key="GoogleAPIKey" value="ABQIAAAAnxcdbMjBD-PpdbtICNm6kxRnBecNafKFCEhI-7XkTqvL4XAj2xRl9fQ9uIiRHdpAGBN3kYHkhV6Iaw" />
    <add key="EnableLogFile" value="true" />
    <!--Log Levels (It will work only if the EnableLogFile is true )-->
    <!-- 1 : Error -->
    <!-- 2 : Information -->
    <!-- 3 : Warning -->
    <!-- 4 : All (Error and Information) -->
    <add key="LogLevel" value="4" />
    <add key="PartialUpdatePanel.EncryptionKey" value="k39#9sn1" />
    <!--EIS : TODO the fradar priority rank is in the sp, we have to pass it from here ..-->
    <!--<add key="FRadarPriorityRank" value="0" />-->
    <!--<add key="AttachmentsPath" value="\\192.168.1.104\RAIDDATA\!gmail_datastore" />
    <add key="PdfUploadPath" value="\\192.168.1.104\RAIDDATA\PdfUpload\" />
    <add key="DragDropPath" value="\\192.168.1.104\RAIDDATA\DragDrop\" />
    <add key="UNC_DomainName" value="192.168.1.104" />
    <add key="UNC_UserName" value="administrator" />
    <add key="UNC_Password" value="1@stratraid" />-->
    <!--<add key="UNC_DomainName" value="192.168.0.100"/>
		<add key="UNC_UserName" value="administrator"/>
		<add key="UNC_Password" value="p33rvu3"/>
		<add key="AttachmentsPath" value="\\192.168.0.100\robinsshare"/>
		<add key="PdfUploadPath" value="\\192.168.0.100\robinsshare\PdfUpload\"/>
		<add key="DragDropPath" value="\\192.168.0.100\robinsshare\DragDrop\"/>-->
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to registered an accounts using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.-->
    <add key="AWSProfileName" value="" />
  </appSettings>
  <connectionStrings>
    <!-- LIVE DB -->
    <!--<add name="ForeClosure" connectionString="Data Source=55272cd4-f08c-45dc-a0e7-a138005199dd.dedicatedsqlserver.sequelizer.com;Initial Catalog=db55272cd4f08c45dca0e7a
    8005199dd;User ID=obpfcriuhokdndnt;Password=nNzmN3JnzWxUC26qLy3uWeexJfMeahVi6wr2RvTNzxTqrGsxKiEhnm7hJbJHoEnr;Connect Timeout=180;" providerName="System.Data.SqlClient" />-->
    <add name="ResearcherConnection" connectionString="Data Source=c4c2a995-8f97-4e78-9ead-a18e00ce3f54.sqlserver.sequelizer.com;Initial Catalog=dbc4c2a9958f974e789eada18e00ce3f54;User ID=kmqetuepnqidqcjp;Password=zsuDQQzBmQ84Ttxp3qNon8xNUnbbDMvExBP4chDSdk7eWpZnqdnwygwz4NSBNx7G" providerName="System.Data.SqlClient" />
    <!-- TEST DB -->
    
    <add name="ForeClosure" connectionString="Data Source=8361a631-029f-452a-8ed9-a12d00f46a94.sqlserver.sequelizer.com;Initial Catalog=db8361a631029f452a8ed9a12d00f46a94;User ID=tfvsawypgkcouvhf;Password=DVgVehgWRqUauhYf8uqFVaz6kzVakF7S4qFTGMdLgbbRf7pgGaKBJTzCvjJMufLj" providerName="System.Data.SqlClient" />

    <!-- New TestDB Amazon -->
    <!--<add name="ForeClosure" connectionString="Data Source=fappsqlsvr.cmmcgiq3tjis.us-east-1.rds.amazonaws.com,1433;Initial Catalog=foreclosure;User ID=jonesen;Password=YJlds868dasadl123ds31" providerName="System.Data.SqlClient" />-->

    <!--<add name="ResearcherConnection" connectionString="Data Source=670c2ee7-85e9-427a-b14e-a20a008d487c.sqlserver.sequelizer.com;Initial Catalog=db670c2ee785e9427ab14ea20a008d487c;User ID=yeucjpthlywfjuwy;Password=NuMtfjTqmrRpVGvDbKDj54pBSNXbUAM7SzWX5rYXzE2e2EE3KwkSsScSekHztSCS" providerName="System.Data.SqlClient" />-->
    <!--<add name="ForeClosure" connectionString="Data Source=192.168.0.205;Initial Catalog=ForeClosureCloud;User ID=foreclosure;Password=Lkasf#12" providerName="System.Data.SqlClient" />-->
    <!--<add name="ForeClosure_old" connectionString="Data Source=3977152e-2563-4915-b295-a04000ffa106.sqlserver.sequelizer.com;Initial Catalog=db3977152e25634915b295a04000ffa106;User ID=jyzhoqejtoclgwvq;Password=3pSYRRkJJXazRCuLtkQtdyZ4mgbs58skmZhzDXgMWtQSMTMqnAgdmEHCwXLKPZNK" />-->
    <!--<add name="Appserv" connectionString="Data Source=76.79.107.232\SA;Initial Catalog=appriaser;User ID=sa;Password=sql2005" />-->
    <!--<add name="ForeClosure" connectionString="Data Source=192.168.0.212;Initial Catalog=ForeClosure;User ID=ForeCloseUser;Password=ForeCloseUser1!"/>-->
    <!--<add name="Appserv" connectionString="Data Source=192.168.0.212;Initial Catalog=appriaser;User ID=ForeCloseUser;Password=ForeCloseUser1!"/>-->
    <!--<add name="ForeClosure" connectionString="Data Source=STRATSQL\STRATSQL;Initial Catalog=ForeClosure;User ID=sa;Password=aditech123"/>
		<add name="ForeClosureConnectionString" connectionString="Data Source=STRATSQL\STRATSQL;Initial Catalog=ForeClosure;User ID=sa;Password=aditech123" providerName="System.Data.SqlClient"/>
    <add name="Appserv" connectionString="Data Source=STRATAPP\SA;Initial Catalog=appriaser;User ID=sa;Password=sql2005"/>-->
    <!--<add name="ForeClosure" connectionString="Data Source=76.79.107.228\STRATSQL;Initial Catalog=ForeClosure;User ID=sa;Password=aditech123"/>-->
    <add name="Appserv" connectionString="Data Source=76.79.107.232\SA;Initial Catalog=appriaser;User ID=sa;Password=sql2005" />
    <!--<add name="ForeClosure" connectionString="Data Source=AUCTSRV\SQL2005;Initial Catalog=ForeClosure;Persist Security Info=True;User ID=sa;Password=Aditech123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ForeClosure" connectionString="Data Source=66.193.188.202;Initial Catalog=adi_net_dbid;Persist Security Info=True;User ID=adi_net_dbuserid;Password=LoginfO;Min Pool Size=5;Max Pool Size=60;Connect Timeout=50;"
   providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" timeout="600" />
    <httpRuntime maxRequestLength="10240" executionTimeout="1200" />
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <httpHandlers>
      <add verb="*" path="PartialUpdatePanelLoader.ashx" validate="false" type="iucon.web.Controls.PartialUpdatePanelHandler" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <caching>
      <profiles>
        <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
      </profiles>
    </caching>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="PartialUpdatePanelHandlerHandler" verb="*" path="PartialUpdatePanelLoader.ashx" type="iucon.web.Controls.PartialUpdatePanelHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
    </handlers>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStatus" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://202.88.239.14:8733/PrintService/Status" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatus" contract="PrintServiceReference.IStatus" name="BasicHttpBinding_IStatus" />
      <!--<endpoint address="http://192.168.0.111/PrintService/Status" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatus" contract="PrintServiceReference.IStatus" name="BasicHttpBinding_IStatus" />-->
      <!-- Auctionserver2 -->
      <!--<endpoint address="http://207.178.225.84:8732/PrintService/Status" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatus" contract="PrintServiceReference.IStatus" name="BasicHttpBinding_IStatus" />-->
      <!-- AUCTIONSRVX -->
      <!--<endpoint address="http://207.178.225.85:8732/PrintService/Status" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatus" contract="PrintServiceReference.IStatus" name="BasicHttpBinding_IStatus"/>-->
    </client>
  </system.serviceModel>
</configuration>
